<a href="https://colab.research.google.com/github/pgss-kyley/pgss_csLabFiles/blob/master/LoadingPokerHandData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
# https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data
pokerHand = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data', header=None)

In [15]:
pokerHand.columns = ['Card1Suit','Card1Rank','Card2Suit','Card2Rank','Card3Suit','Card3Rank','Card4Suit','Card4Rank','Card5Suit','Card5Rank','Hand']
#Hand:
      #0: Nothing in hand; not a recognized poker hand 
      #1: One pair; one pair of equal ranks within five cards
      #2: Two pairs; two pairs of equal ranks within five cards
      #3: Three of a kind; three equal ranks within five cards
      #4: Straight; five cards, sequentially ranked with no gaps
      #5: Flush; five cards with the same suit
      #6: Full house; pair + different rank three of a kind
      #7: Four of a kind; four equal ranks within five cards
      #8: Straight flush; straight + flush
      #9: Royal flush; {Ace, King, Queen, Jack, Ten} + flush
pokerHand.head()

   Card1Suit  Card1Rank  Card2Suit  ...  Card5Suit  Card5Rank  Hand
0          1          1          1  ...          1         12     0
1          3         12          3  ...          2          5     1
2          1          9          4  ...          3          9     1
3          1          4          3  ...          3          6     1
4          3         10          2  ...          4          9     0

[5 rows x 11 columns]

In [16]:
pokerHand.to_csv('pokerHandFromUCI.csv')