# Load Data

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

In [9]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(X.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# Structure Data into Data Frame

In [10]:
y = pd.DataFrame(iris.target, columns = ['Species'])
y.head()

   Species
0        0
1        0
2        0
3        0
4        0

In [12]:
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Descriptive Analysis on the Data Frame

In [7]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [13]:
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64