In this script, we:

1.   Connect Colab to our Google Drive
2.   Read a file from Github as a RAW file, into a Pandas data frame
3.   Summarize that data
4.   Read a file from Google Drive into a separate Pandas data frame

In [ ]:
a=2
print(a)

2

# Connect Colab to Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Read a file from Github as a RAW file, into a Pandas data frame

In [13]:
import pandas as pd
ChicagoData = pd.read_csv('https://raw.githubusercontent.com/menonpg/covid19_Chicago/master/timeSeries_COVID19_Chicago.csv')

# Summarize the above data

In [14]:
print(ChicagoData)
print("Min values by column \n" + str(ChicagoData.aggregate('min')))
print("Max values by column \n" + str(ChicagoData.aggregate('max')))

    Cases  Deaths        Date
0     598       4  2020-03-24
1     949       5  2020-03-25
2    1882      15  2020-03-28
3    1975      15  2020-03-29
4    2611      26  2020-03-31
..    ...     ...         ...
89  51512    2573  2020-06-28
90  52153    2592  2020-06-29
91  52340    2603  2020-06-30
92  52569    2611  2020-07-01
93  52813    2623  2020-07-02

[94 rows x 3 columns]
Min values by column
Cases            598
Deaths             4
Date      2020-03-24
dtype: object
Max values by column
Cases          52813
Deaths          2623
Date      2020-07-02
dtype: object

In [29]:
! mkdir /content/drive/My\ Drive/DATA/

mkdir: cannot create directory ‘/content/drive/My Drive/DATA/’: File exists

In [30]:
ChicagoData.to_csv("timeSeries_COVID19_Chicago.csv", index=False)

ChicagoData.to_csv("/content/drive/My Drive/DATA/timeSeries_COVID19_Chicago.csv", index=False)

# Read a file from Google Drive

In [31]:
import pandas as pd 
ChicagoData_fromDrive = pd.read_csv('/content/drive/My Drive/DATA/timeSeries_COVID19_Chicago.csv')

In [9]:
print(ChicagoData)
print("Min values by column \n" + str(ChicagoData.aggregate('min')))
print("Max values by column \n" + str(ChicagoData.aggregate('max')))

    Cases  Deaths        Date
0     598       4  2020-03-24
1     949       5  2020-03-25
2    1882      15  2020-03-28
3    1975      15  2020-03-29
4    2611      26  2020-03-31
..    ...     ...         ...
89  51512    2573  2020-06-28
90  52153    2592  2020-06-29
91  52340    2603  2020-06-30
92  52569    2611  2020-07-01
93  52813    2623  2020-07-02

[94 rows x 3 columns]
Min values by column
Cases            598
Deaths             4
Date      2020-03-24
dtype: object
Max values by column
Cases          52813
Deaths          2623
Date      2020-07-02
dtype: object